<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Staffs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <main>
        <div class="container">
            <form action="{% if edit %}/edit/{{item[0]}}{% else %}/user{% endif %}" method="POST">
                {% if edit %}
                <h2>Edit User</h2>
                {% else %}
                <h2>Add User</h2>
                {% endif %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="first">Name</label>
                            {{form.user}}
                        </div>
                    </div>
                    <!--  col-md-6   -->

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="last">Number</label>
                            {{form.number}}
                        </div>
                    </div>
                    <!--  col-md-6   -->
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        {% for mess in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{mess}}
        </div>
        {% endfor %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
        $(document).ready(function () {
            $("#successMessage").delay(5000).slideUp(300);
        });
    </script>
</body>

</html>